easy.ai.llm.api-key=<input your api-key>
easy.ai.llm.base-url=<input llm base url>
easy.ai.llm.model=<input model name>

easy.ai.llm.default-options.model=<input model name>
easy.ai.llm.default-options.temperature=0.35
easy.ai.llm.default-options.max-tokens=4096
easy.ai.llm.default-options.top-p=0.8
easy.ai.llm.default-options.stop[0]=END
easy.ai.llm.default-options.stop[1]=STOP