easy.ai.llm.api-key=<input your api-key>
easy.ai.llm.base-url=<input llm base url>
easy.ai.llm.model=<input model name>

easy.ai.llm.default-options.model=<input model name>
easy.ai.llm.default-options.temperature=0.35
easy.ai.llm.default-options.max-tokens=4096
easy.ai.llm.default-options.top-p=0.8
easy.ai.llm.default-options.stop[0]=END
easy.ai.llm.default-options.stop[1]=STOP

easy.ai.database.neo4j.uri:
easy.ai.database.neo4j.port:
easy.ai.database.neo4j.api-key:
easy.ai.database.neo4j.username:
easy.ai.database.neo4j.password:

easy.ai.database.qdrant.uri:
easy.ai.database.qdrant.port:
easy.ai.database.qdrant.api-key: